/* Base #3f3f3f */

*{
  margin: 0px;
  padding: 0px;
}

.diagram {
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 640px;
}

.ec2 {
	position: absolute;
	width: 90%;
	height: 500px;
	left: 5%;
	top: 32px;
	border: 2px solid #c36300;
	background: rgb(255, 255, 255);
	z-index: -1;
	font-family: arial;
}
.ec2Label {
	position: absolute;
	top: -22px;
	color: #6f0000;
}

body{
/*   background: rgba(170, 237, 255, 0.17); */
	background: #b9b9b9;
}

.wire {
	animation: wireAni 2s infinite;
	position: absolute;
	background: #525252;
	z-index: -1;
}
.wire.stg {

	opacity: 0.2;
}

/* Wires */
#wire1{
	top: 356px;
	right: 50%;
	width: 22%;
	height: 5px;
	transform: rotate(0deg);
}

#wire2 {
	top: 251px;
	right: 50%;
	width: 4px;
	height: 110px;
	margin-right: 22%;
}

#wire3{
	top: 356px;
	left: 50%;
	width: 22%;
	height: 5px;
	transform: rotate(0deg);
}

#wire4{
	top: 251px;
	left: 50%;
	width: 4px;
	height: 110px;
	margin-left: 22%;
}

#wire5{
	top: 354px;
	left: 50%;
	width: 4px;
	height: 239px;
	transform: translate3d( -2px, 0px, 0px );
}

@keyframes wireAni1{
  0%, 100%{
    background: #848484; 
  }
  50%{
    background: #4f4f4f;
  }
}

@keyframes wireAni{
  0%, 100%{
    background: #848484; 
  }
  50%{
    background: #4f4f4f;
  }
}

/* DBs */
#db1{
	position: absolute;
	top: 465px;
	left: calc( 50% - 50px );
	width: 100px;
	height: 130px;
}

.db1Layer{
  position: relative;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 20px;
  background: #3f3f3f;
  margin-bottom: 1px;
  border-radius: 10px 10px;
}

.dbLight{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.redLight{
  background: #db2525;
  animation: lightBlink 0.5s infinite;
}

.firstLight{
  left: 10px;
  animation-delay: 0s;
}

.secondLight{
  left: 17px;
  animation-delay: 0.2s;
}

.thirdLight{
  left: 24px;
  animation-delay: 0.4s;
}

@keyframes lightBlink{
  0%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}

/* Servers */
.server {
	top: 60px;
	left: 50%;
  position: absolute;
  width: 60px;
  height: 100px;
  background: #3f3f3f;
	transform: translate3d( 40px, 0px, 0px );
}

.serverSeparator{
  position: relative;
  top: 10px;
  left: 0px;
  color: #6d6d6d;
  overflow: hidden;
}

.serverLight{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.off.serverLight{
  background: #000000;
}

.blueLight{
  background: #23b5ea;
  animation: lightBlink 0.2s infinite;
}

.firstLight2{
  left: 10px;
  animation-delay: 0s;
}

.secondLight2{
  left: 17px;
  animation-delay: 0.3s;
}

.thirdLight2{
  left: 24px;
  animation-delay: 0.5s;
}

/* Switch */
#switch2{
  position: absolute;
	top: 350px;
	left: 50%;
	width: 60px;
	height: 20px;
	background: #3f3f3f;
	margin-left: -30px;
	cursor: pointer;
}
#switch2:hover, #switch2:active {
	background: #ff7e7e;
}

.vioLight{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.vioLight{
  background: #9f3cd1;
  animation: lightBlink 0.2s infinite;
}

.firstLight3{
  left: 10px;
  animation-delay: 0s;
}

.secondLight3{
  left: 17px;
  animation-delay: 0.3s;
}

.thirdLight3{
  left: 24px;
  animation-delay: 0.5s;
}

.zone {
	position: absolute;
	width: 40%;
	height: 200px;
	top: 55px;
	border-radius: 10px;
}

.zone#blue {
	background: rgb(64, 137, 255);
	left: 8%;
}
.zone#green {
	background: rgb(51, 255, 127);
	left: 52%;
}

.zone .liveBadge {
	font-family: arial;
	color: BLACK;
	margin: 5px;
	padding: 10px;
	display: inline-block;
	background: white;
	border-radius: 6px;
  animation: lightBlink 2s infinite;
	animation-direction: alternate;
}

@keyframes liveBadgeAni {
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0.2;
  }
}

.server {
}

/* Screen */
.screen{
	position: absolute;
	top: 60px;
	left: 50%;
	width: 120px;
	height: 65px;
	background: #333333;
	transform: translate3d( -100px, 0px, 0px );
}

.screen:after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 26px;
  margin-left: -13px;
  height: 27px;
  background: #3a3a3a;
}

#screen1Inner{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 110px;
  height: 55px;
  background: #58165b;
}

#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  background: #6d1a65;
  animation: logoAni 6s infinite;
}

@keyframes logoAni{
  0%, 100%{
      border-radius: 100px 790px;
      transform: rotate(0deg);
  }
  50%{
      border-radius: 790px 100px;
      transform: rotate(360deg);
  }
}

#screen2Inner{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 110px;
  height: 55px;
  background: #1a4c6d;
}

#logo2{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  background: #0e3956;
  animation: logoAni 3s infinite;
}


#screen3Inner{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 110px;
  height: 55px;
  background: #0c5147;
}
#screen3Inner.off {
  background: #000000;
}

#logo3{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  background: #1d9382;
  animation: logoAni 9s infinite;
}

#logo3.off {
  display: none;
}
